@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.quicksand-title,
.quicksand-paragraph,
.quicksand-blockquote,
.quicksand-subtitle,
.quicksand-section,
.quicksand-list,
.story-content > p,
blockquote em,
h2 + h3,
p ~ ul {
    font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
    font-optical-sizing: auto;
}

.quicksand-title {
    font-weight: 700;
    font-style: normal;
    color: rgb(179, 185, 201);
}

.quicksand-paragraph {
    font-weight: 400;
    font-style: normal;
    color: rgb(141, 150, 174);
}

.quicksand-blockquote {
    font-weight: 300;
    font-style: normal;
    color: rgb(103, 115, 147);
}

.quicksand-subtitle {
    font-weight: 600;
    font-style: normal;
    color: rgb(217, 220, 228);
}

.quicksand-section {
    font-weight: 500;
    font-style: normal;
    color: #d9dce4;
}

.quicksand-list {
    font-weight: 400;
    font-style: normal;
    color: #8d96ae;
}

.story-content > p {
    color: #000000;
    background-color: #677393;
    font-size: 1.2em;
    border: 1px solid #8d96ae;
    padding: 10px;
}

blockquote em {
    background-color: #b3b9c9;
    color: #000000;
    font-weight: bold;
}

h2 + h3 {
    background-color: #d9dce4;
    color: #000000;
    padding: 10px;
    border-left: 5px solid #677393;
}

p ~ ul {
    background-color: #ffffff;
    color: #e9e9e9;
    padding: 15px;
    border: 2px dashed #d9dce4;
    border-radius: 10px;
}